h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

h2 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
  width: 640px;
  margin: 0 auto;
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 640px;
}


.selectLeague {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20px;
}

.displaySTeamName {
  text-align: center;
}

.displayPTeamName {
  text-align: center;
}

.site {
  position: relative;
  margin-top: 200px;
  text-align: center;
}


.thumb-bar {
  margin-top: 100px;
}

.thumb-bar img {
  display: block;
  width: 16.6%;
  float: left;
  cursor: pointer;
  position: relative;
  top: 120px;
}

.qrcode {
  position: absolute;
  top: 50px;
  right: 50px;
}